<nav>
  <div class="logo">
      <h2>Test</h2>
  </div>
  <ul class="menu">
      <li><a href="index" routerLinkActive="active" >Index Component</a></li>
      <li><a href="home" routerLinkActive="active" >Home Component</a></li>
      <li><a href="task" routerLinkActive="active" >Task</a></li>
      <li><a href="https://wabproject-81ac8.firebaseapp.com/" routerLinkActive="active" >Profile</a></li>
      <li><button (click)="logout()">Logout</button></li>
  </ul>
</nav>
<router-outlet></router-outlet>
<footer>
  <p>Copyrifht 2024.</p>
</footer> 