.content {
  display: flex;
  flex-wrap: wrap;
  background-color: #ddf5e1;
}
.addbook {
  
  font-size: 22px;
  padding: 10px;
  margin: 40px 0px 40px 1750px;
  border: none;
  border-radius: 8px;
  background-color: aquamarine;
}

.modal {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modal-content {
    position: relative;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    width: 600px;
    max-width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
  }
  
  